* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
button {
    font-family: "Rubik", sans-serif;
}
.btn.btn-lg.dropdown-toggle:focus:focus-visible {
    box-shadow: none;
}
.btn.btn-lg.dropdown-toggle.show:focus {
    box-shadow: none;
}
.btn.btn-lg.dropdown-toggle:focus {
    box-shadow: none;
}
